*{
    padding: 0;
    margin: 0;
}
.flexble{
    display: flex;
}

.top-section {
    width: 40%;
    margin-top: 10%;
    margin-left: 10%;
}
.prsn {
    width: 40%;
    margin-left: 5%;
}
.prsn img {
    width: 100%;
}
.top-section h1{
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #34495e;
}
.top-section span {
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color:#e58e26;
    line-height: 145px;
}
.top-section p{
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
}
.top-section a{
    text-decoration: none;
    font-size: 25px;
    background-color: #00cec9;
    font-family: 'Work Sans', sans-serif;
    padding: 15px 20px;
    border-radius: 5px;
    line-height: 80px;
}
.mission{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #34495e;
    font-size: 50px;
}
.mission span{
    color:#e58e26;
}
.box {
    width: 20%;
    padding: 45px 20px;
    border-radius: 10px;
}
.box img {
    width: 38%;
    height: 60%;
}
.box h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 25px;
}
.box p{
    text-align: justify;
    padding: 10px 5px;
}
.missionn{
    margin-left: 10%;
    background-color: #dfe4ea;
}
.vission{
    margin-left: 3%;
    background-color: #ffcccc;
}
.goals{
    margin-left: 3%;
    background-color: #F8EFBA;
}
.mid-section{
    background-image: url(./img/shape-3-01.png);
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 10%;
}
.coding-pic{
    
    width: 35%;
    margin-left: 10%;

}
.coding-pic img{
    width: 90%;
    margin-bottom: 15%;
}
.develop{
    width: 35%;
    margin-left: 10%;
    margin-top: 3%;
}
.develop h2{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 50px;
}
.develop h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 80px;
    
}
.develop p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    
}
.develop a{
    text-decoration: none;
    font-size: 25px;
    background-color: #00cec9;
    font-family: 'Work Sans', sans-serif;
    padding: 15px 20px;
    border-radius: 5px;
    line-height: 120px;
}
.sub-bg-img{
    background-image: url(./img/shape-3-01.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 5%;
}
.build{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #e58e26;
    font-size: 30px;
}
.build span{
    color: #34495e;
}

.regestion-pic{
    width: 35%;
    margin-left: 5%;
}
.regestion-pic img{
    width: 90%;
}
.safe{
    width: 35%;
    margin-top: 7%;
    margin-left: 5%;
}
.safe h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 30px;
    color: #ff6348;
}
.safe h2{
    color: #ff7f50;
    padding: 5px;
}
.safe a{
    text-decoration: none;
    font-size: 25px;
    background-color: #00cec9;
    font-family: 'Work Sans', sans-serif;
    padding: 15px 20px;
    border-radius: 5px;
    line-height: 120px;
}
.safe p{
    padding: 10px;
}
.mis {
    margin-top: 5%;
    background-color: #222f3e;
    height: 100px;
    text-align: center;
    padding: 10px;
}
.mis h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 35px;
    line-height: 80px;
    color: #fff;
}
.mis h4{
    color: #fff;
}