*{
    padding: 0;
    margin: 0;
}
.flexble{
    display: flex;
}
.line{
    background-color: red;
    width: 1%;
    height: 20%;
}
.top-section {
    width: 45%;
    margin-top: 10%;
    margin-left: 5%;
}
.prsn {
    width: 40%;
    margin-left: 5%;
}
.prsn img {
    width: 100%;
}
.top-section h1{
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}
.top-section span {
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #ffeaa7;
    line-height: 145px;
}
.top-section p{
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
}
.top-section a{
    text-decoration: none;
    font-size: 25px;
    background-color: #00cec9;
    font-family: 'Work Sans', sans-serif;
    padding: 15px 20px;
    border-radius: 5px;
    line-height: 80px;
}
.mission{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: red;
    font-size: 50px;
}
.mission span{
    color: blue;
}
.box {
    width: 20%;
    background-color: red;
    padding: 45px 20px;
    border-radius: 10px;
}
.box img {
    width: 38%;
    height: 60%;
}
.box h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 25px;
}
.box p{
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
    padding: 10px 5px;
}
.missionn{
    margin-left: 10%;
}
.vission{
    margin-left: 3%;
}
.goals{
    margin-left: 3%;
}
.mid-section{
    background-image: url(./img/shape-3-01.png);
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 10%;
}
.coding-pic{
    
    width: 40%;
    margin-left: 10%;

}
.coding-pic img{
    width: 90%;
}
.develop{
    width: 35%;
    margin-left: 5%;
    margin-top: 3%;
}
.develop h2{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 30px;
}
.develop h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 80px;
}
.develop p{
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
    
}
.develop a{
    text-decoration: none;
    font-size: 25px;
    background-color: #00cec9;
    font-family: 'Work Sans', sans-serif;
    padding: 15px 20px;
    border-radius: 5px;
    line-height: 120px;
}
